<div id="projects" class="text-center padded">
  <div class="container">
    <%= image_tag 'projects-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2>My Projects</h2>
    <div class="row text-left">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>- Tweets from Tiny Hands</h3>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "tiny-hands.png" %>');">
          <a class="card-link" href="https://tweetsfromtinyhands.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>- Eventualii</h3>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "eventualii.png" %>');">
          <a class="card-link" href="https://pacific-ocean-76220.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>- Classic Cars</h3>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "classic-cars.png" %>');">
          <a class="card-link" href="https://irbnb-clone.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>- My Brewery App</h3>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "my-brewery.png" %>');">
          <a class="card-link" href="https://rails-brewery-app.herokuapp.com" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div id="about" class="text-center padded">
    <div class="container">
      <%= image_tag 'self.png', class: 'img-circle', style: "height: 200px" %>
      <hr>
      <h2>About Me</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>I graduated from the University of St. Thomas with a degree in Neuroscience but it was never truly a passion of mine. I started learning how to code about a year ago and it's a much better fit! After deciding I wanted to pursue this seriously, I enrolled in Le Wagon's coding bootcamp in Copenhagen. That experience has been invaluable and it helped me feel establish a solid foundation to build off. Right now I am looking to gain professional experience and learn as much as I can from others. Ultimately, I would like to work in cybersecurity</p>

          <p>Outside of work, I am an avid guitarist, violinist, and pianist. I thoroughly enjoy working with my hands soou can find me taking on home improvement or woodworking projects. I like drawing and painting too. I'm easy-going and a straight-shooter, I cheer for the Minnesota Vikings and Wild, I love dogs, and I cannot overstate my appreciation for nature and the great outdoors. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="text-center padded">
  <div class="container">
    <%= image_tag 'contact-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2>Contact Information</h2>
    <div class="row">
      <div class="text-left col-xs-12 col-sm-8 col-sm-offset-2">
        <ul>
          <li>Email: <a href="https://plus.google.com/u/0/116901747058934361936">rydena021@gmail.com</a></li>
          <li>Facebook: <a href="https://www.facebook.com/anders.c.ryden">facebook.com/anders.c.ryden</a></li>
          <li>Twitter: <a href="https://twitter.com/rydena021">twitter.com/rydena021</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
