<div id="projects" class="text-center padded">
  <div class="container">
    <%= image_tag 'projects-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2 class="text-center">My Projects</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "tiny-hands.png" %>');">
          <a class="card-link" href="https://tweetsfromtinyhands.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "classic-cars.png" %>');">
          <a class="card-link" href="https://irbnb-clone.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "eventualii.png" %>');">
          <a class="card-link" href="https://pacific-ocean-76220.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "my-brewery.png" %>');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div id="about" class="text-center padded">
    <div class="container">
      <%= image_tag 'self.png', class: 'img-circle', style: "height: 200px" %>
      <hr>
      <h2 class="text-center">About Me</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>I graduated from the University of St. Thomas with a degree in Neuroscience but wasn't sure I wanted to make a career out of it. After I started learning how to code, I was hooked. It's been around a year since then and I am now ready to begin work as a junior developer. Ultimately, I would like to work in cyber security but right now I am looking to gain more experience and learn from others.</p>

          <p>I am an easy-going, 6’ 5” Scandinavian teddy bear. I like helping others and try to be the type of person you'd go to for help. Outside of work, I am an avid guitarist, violinist, and pianist. I thoroughly enjoy working with my hands; you can find me taking on home improvement or woodworking projects and I like drawing and painting. I'm also a huge dog-lover and novice home brewer, I cheer for the Minnesota Vikings/Wild, and I cannot overstate my appreciation for nature and the great outdoors. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="text-center padded">
  <div class="container">
    <%= image_tag 'contact-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2 class="text-center">Contact Information</h2>
    <div class="row">
      <div class="text-left col-xs-12 col-sm-8 col-sm-offset-2">
        <ul>
          <li>Email: <a href="https://plus.google.com/u/0/116901747058934361936">rydena021@gmail.com</a></li>
          <li>Facebook: <a href="https://www.facebook.com/anders.c.ryden">facebook.com/anders.c.ryden</a></li>
          <li>Twitter: <a href="https://twitter.com/rydena021">twitter.com/rydena021</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
