<div id="projects" class="text-center padded">
  <div class="container">
    <%= image_tag 'projects-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2>My Projects</h2>
    <div class="row text-left">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Tier 4</h3>
        <h6>January 2018</h6>
        <p>Tier 4 is an online portal for Prime students. This app is designed to be a one-stop shop for the job search process. Users can track applications, set weekly goals, manage their contacts, store documents, and keep track of things in a calendar.</p>
        <ul>
          <li>React, node.js, express.js, Redux, Redux Sagas, postgreSQL</li>
          <li>React Big Calendar, moment.js, LinkedIn API</li>
        </ul>
        <a href="https://github.com/rydena021/react-tier-4">source code</a>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "tier-4.png" %>');">
          <a class="card-link" href="https://github.com/rydena021/react-tier-4" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>SIAWSO.ORG</h3>
        <h6>February 2018</h6>
        <p>Planned and executed redesign for nonprofit’s website using WordPress and the Avada theme. Responsible for entire scope of project and continuously adapted to client needs.</p>
        <ul>
          <li>WordPress, MAMP, WooCommerce, Stripe, MailChimp, Google Analytics</li>
          <li>STFP, DNS records, web host migration</li>
        </ul>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "siawso.png" %>');">
          <a class="card-link" href="https://siawso.org" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Tweets from Tiny Hands</h3>
        <h6>April 2017</h6>
        <p>Interactive data viz app of Donald Trump's tweets since declaring his candidacy for P.O.T.U.S. Users are able to filter through @realDonaldTrump's tweets by sentiment, device, time of day, day of week, or a range of dates.</p>
        <ul>
          <li>Crossfilter, D3.js, dc.js</li>
          <li>Twitter API</li>
        </ul>
        <a href="https://github.com/rydena021/tweetsfromtinyhands">source code</a>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "tiny-hands.png" %>');">
          <a class="card-link" href="https://tweetsfromtinyhands.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Eventualii</h3>
        <h6>June 2017</h6>
        <p>To-do list practice app built on Rails.</p>
        <ul>
          <li>Devise</li>
        </ul>
        <a href="https://github.com/rydena021/pacific-ocean-76220">source code</a>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "eventualii.png" %>');">
          <a class="card-link" href="https://pacific-ocean-76220.herokuapp.com" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>Classic Cars</h3>
        <h6>March 2017</h6>
        <p>Collaborative project made at Le Wagon.</p>
        <ul>
          <li>Google Maps API</li>
          <li>OAUTH</li>
        </ul>
        <a href="https://github.com/neilhalligan/rails-airbnb-clone">source code</a>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path "classic-cars.png" %>');">
          <a class="card-link" href="https://irbnb-clone.herokuapp.com" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div id="about" class="text-center padded">
    <div class="container">
      <%= image_tag 'self.png', class: 'img-circle', style: "height: 200px" %>
      <hr>
      <h2>About Me</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>I graduated from the University of St. Thomas with a degree in Neuroscience but it was never truly a passion of mine. I started learning how to code about a year ago and it's a much better fit! After deciding I wanted to pursue this seriously, I enrolled in Le Wagon's coding bootcamp in Copenhagen. That experience has been invaluable and it helped me establish a solid foundation to build off. Right now I am looking to gain professional experience and absorb as much as I can from others. Ultimately, I'd like to work in cybersecurity or with articial intelligence.</p>
          <br>
          <p>Outside of work, I am an avid guitarist, violinist, and pianist. I thoroughly enjoy working with tools and I will always try to fix it myself first. Recently I've taken on a couple of woodworking projects but I also like to paint. I'm a straight-shooter; I'm easy-going; I cheer for the Minnesota Vikings and the Wild; I love dogs; and I cannot overstate my appreciation for nature and the great outdoors. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="text-center padded">
  <div class="container">
    <%= image_tag 'contact-icon.png', class: 'img-circle', style: "height: 200px" %>
    <hr>
    <h2>Contact Information</h2>
    <div class="row">
      <div class="text-left col-xs-12 col-sm-8 col-sm-offset-2">
        <ul>
          <li>Email: <a href="https://plus.google.com/u/0/116901747058934361936">rydena021@gmail.com</a></li>
          <li>Facebook: <a href="https://www.facebook.com/anders.c.ryden">facebook.com/anders.c.ryden</a></li>
          <li>Twitter: <a href="https://twitter.com/rydena021">twitter.com/rydena021</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
